
*-backups
*-save.kicad_pcb
*-save.pro
*.000
*.bak
*.bck
*.dsn
*.kicad_pcb-bak
*.kicad_prl
*.kicad_sch-bak
*.lck
*.orig
*.sch-bak
*.ses
*.tmp
*auto_saved_files#
*backup*
*fp-info-cache
*~
_autosave-*
fp-info-cache
